*{
    font-family: 'Poppins', sans-serif;
}
.navbar img{
    width: 200px;
}
.singup_btn a{
    color: rgb(0, 0, 0);
}
.nav-text a{
    background-color: rgb(3, 168, 3);
    color: white;
    padding: 10px 10px;
    border-radius: 40px;
}
.nav-item,.nav-text a{
    margin: 0 20px;
}
.green_btn{
    border: none;
    background-color: #21B573;
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
}
.green_btn:hover{
    border: 2px solid #21B573;
    background-color: #ffffff;
    color: #21B573;
    padding: 10px 20px;
    border-radius: 40px;
}
.main_top_bg{
    background-color: #F0FFF0;
    height: 750px;
}
.banner_section{
    margin-top: 50px;
}
.banner_section h1{
    font-size: 55px;
    font-weight: bolder;
    margin: 20px 0;
}
.banner_section p{
    font-weight: 300;
}
.high_text_green{
    color: #21B573;
}
.high_text_orange{
    color: orange;
}
.cetagories .card{
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #F0FFF0;
    border: none;
}
.cetagories .card:hover{
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.col-md-7 img{
    width: 95%;
}
.cetagories .card img{
    width: 30%;
}
.cetagories{
    margin: 80px 0;
}
.courses .card img{
    padding: 20px;
}
.courses .card{
    border: none !important;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.left p{
    margin-top: 20px;
}
.right p{
    margin-top: 20px;
}
.left img{
    width: 70px;
}
.right img{
    width: 70px;
}
.courses h2{
    color: #41063e;
    font-weight: 700;
    margin-bottom: 50px;
}
.testimonial h2{
    color: #41063e;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 50px;
}
.testimonial img{
    width: 30%;
    text-align: right;
}
footer{
    margin-top: 100px;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}
.form_part{
    margin-top: 80px;
}
.form_part h2{
    color: #41063e;
    font-weight: 700;
}
